/* Add general styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
  
    height: 100%;
    width: 100%;
    background-color: #eececb;
  }
  
  
  .container {
    position: absolute;
    width: 70%; /* Adjust the width of the container as desired */
    margin: 5% 15%;
    background-color: #f6f6ee;
    z-index: 100%;
    box-shadow: 0 10px 10px rgba(139, 44, 44, 0.2) ;
    padding: 3%;
}
  
  .container .main_img img {
    width: 100%; /* Set the image width to 100% of its parent container */
    height: auto; /* Maintain the image's aspect ratio */
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6f6ee;
  }
  
  .nav p {
    text-transform: uppercase;
  }
  
  .nav p span {
    font-weight: bold;
  }
  
  .links a {
    margin-right: 10px; /* Adjust this value to increase or decrease the gap */
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    padding-bottom: 0;
  }
  
  .content .heading {
    margin-bottom: 15px;
  }
  
  .content .details {
    margin-bottom: 15px;
    width: 50%;
  }
  
  .content button {
    background-color: black;
    color: white;
    padding: 5px 20px;
    border-radius: 100px;
  }
  
  .footer {
    margin-top: 0;
    display: flex;
    width: 100%;
    justify-content: center;
  
  }
  
  .footer .left {
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
    width: 30%;
    text-align: right;
    padding-right: 30px;
  }
  
  .footer .left h2 {
    margin-bottom: 25px;
  }
  
  .footer .right {
    margin-left: 50px;
    width: 35%;
  }
  
  .footer .right h3 {
    margin-bottom: 8px;
  }
  
  .footer .service {
    margin-bottom: 15px;
  }
  
  .right .dfeat {
    display: flex;
  }
  
  /* Add responsive styles using media queries */
  
  @media (max-width: 768px) {
    .content .details {
      width: 80%; /* Adjust the width for smaller screens */
    }
  
    .footer {
      flex-wrap: wrap; /* Allow the footer items to wrap on smaller screens */
    }
  
    .footer .left {
      width: 100%; /* Take up full width on smaller screens */
      border-right: none; /* Remove the border on smaller screens */
      text-align: center; /* Center-align the text on smaller screens */
      padding-right: 0; /* Remove the right padding on smaller screens */
      margin-bottom: 20px; /* Add some space between footer sections on smaller screens */
    }
  
    .footer .right {
      width: 100%; /* Take up full width on smaller screens */
      margin-left: 0; /* Remove the left margin on smaller screens */
    }
  }
  